<div class="albert">
    
    
  <div class="bside">
 <div id="data">
  <h1>Monument 8:</h1>
  <p>Description: <%= @description %> <br>
  Address: <%= @address %>><br>
  Distance from Halifax in miles: <%= @distance %>
  </p
</div>
  

</div>
<h3>Directions from Monument to Halifax</h1>
  <div style='width: 800px;'>
    <div id="directions" style='width: 800px; height: 400px;'></div>
  </div>
    
  <div class="mappy">
<script type"text/javascript">
var directionsDisplay = new google.maps.DirectionsRenderer();
var directionsService = new google.maps.DirectionsService();

function calcRoute() {
  var origin      = new google.maps.LatLng(53.691086, -1.7386677);
  var destination = new google.maps.LatLng(53.7270078, -1.8575478);
  var request = {
      origin:      origin,
      destination: destination,
      travelMode:  google.maps.TravelMode.DRIVING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });
}

calcRoute();

var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'directions'}}, function(){
  directionsDisplay.setMap(handler.getMap());
});
</script>
    </div>  
    </div>