<% provide(:title, "Help") %>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
    box-sizing: border-box;
    background-color :#0b0c0c;
    
}

a:link    {color: #516465; background-color:transparent; text-decoration:none font: "Stencil Std"; text-transform: uppercase }
a:visited {color: #516465; background-color:transparent; text-decoration:none font: "Stencil Std"; text-transform: uppercase }

img {
    width: 100%;
    height: auto;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
html {
    font-family: "Impact";
  
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    color: #0b0c0c
}
.menu li {
    padding: 4px;
    margin-bottom: 6px;
    background-color :#0b0c0c;
    color: #0b0c0c;
    text-align: center;
    font: Impact;

}
.menu li:hover {
    background-color: #363f43;
    
}
.aside {
    background-color: #0b0c0c;
    padding: 40px;
    color: #0b0c0c;
    text-align: center;
    font: Impact;
    font-size: 20px;
    

}

</style>
</head>
<body>



<div class="row">


<div class="col-6 col-s-9">
    
    <h1>Help</h1>
  

<p>
To start the game click the play tab and your cards will be dealt to you.
The first player begins by choosing a category from their card which is then compared with the same category on their oponents. Upon winning you add your opponents losing card to your hand. 
<br><br>
Categories:
<br>
Rating - Highest wins. 
<br>
Release Date - Newest wins.
</p>


</div>



</div>


<footer>
    
</footer>
</body>
</html>




