<% provide(:title, "Home") %>

<div class="albert">
 <h1>Monuments</h1>
<%= form_tag('/summonersearch', :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Monuments" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
</div>


<div class="row">

<div class="col-6 col-s-9">
  
        
    <% if logged_in? %>
  <div class="albert">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  </div>
<%else%>
<div class="signupbutton">
<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>
  </div>
<%end%>
</div>
</div>

