<!DOCTYPE html>
<html>
<head>
  <% provide(:title, "Monuments") %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>


<div class="albert">
<div class="row">



<div class="woop">
  


<div class="container">
  <div class="table-responsive">          
    <table id="monumentstable" table class="table">
    <tbody>
      <tr>
        <td><%= link_to "Monument One", one_path %></td>
        <td><%= link_to "Monument Two", two_path %></td>
        <td><%= link_to "Monument Three", three_path %></td>
        <td><%= link_to "Monument Four", four_path %></td>
      </tr>
      <tr>
        <td><%= link_to "Monument Five", five_path %></td>
        <td><%= link_to "Monument Six", six_path %></td>
        <td><%= link_to "Monument Seven", seven_path %></td>
        <td><%= link_to "Monument Eight", eight_path %></td>
      </tr>
      <tr>
        <td><%= link_to "Monument Nine", nine_path %></td>
        <td><%= link_to "Monument Ten", ten_path %></td>
        <td><%= link_to "Monument Eleven", eleven_path %></td>
        <td><%= link_to "Monument Twelve", twelve_path %></td>
      </tr>
      <tr>
        <td><%= link_to "Monument Thirteen", thirteen_path %></td>
        <td><%= link_to "Monument Fourteen", fourteen_path %></td>
        <td><%= link_to "Monument Fifteen", fifteen_path %></td>
        <td><%= link_to "Monument Sixteen", sixteen_path %></td>
      </tr>
      <tr>
        <td><%= link_to "Monument Seventeen", seventeen_path %></td>
        <td><%= link_to "Monument Eighteen", eighteen_path %></td>
        <td><%= link_to "Monument Nineteen", nineteen_path %></td>
        <td><%= link_to "Monument Twenty", twenty_path %></td>
      </tr>
      <tr>
        <td><%= link_to "Monument Twentyone", twentyone_path %></td>
        <td><%= link_to "Monument Twentytwo", twentytwo_path %></td>
        <td><%= link_to "Monument Twentythree", twentythree_path %></td>
        <td><%= link_to "Monument Twentyfour", twentyfour_path %></td>
      </tr>
      <tr>
        <td><%= link_to "Monument Twentyfive", twentyfive_path %></td>
        <td><%= link_to "Monument Twentysix", twentysix_path %></td>
        <td><%= link_to "Monument Twentyseven", twentyseven_path %></td>
        <td><%= link_to "Monument Twentyeight", twentyeight_path %></td>
      </tr>
      <tr>
        <td><%= link_to "Monument Twentynine", twentynine_path %></td>
        <td><%= link_to "Monument Thirty", thirty_path %></td>
        <td><%= link_to "Monument Thirtyone", thirtyone_path %></td>
        <td><%= link_to "Monument Thirtytwo", thirtytwo_path %></td>
      </tr>
      
    </tbody>
  </table>
  </div>
</div>



</div>
    
    </div>
    </div>



</body>
</html>

