<div class="mappy">

<h1>Monuments Map</h1>

  
<div style='width: 800px;'>
  <div id="multi_markers" style='width: 800px; height: 400px;'></div>
</div>
<script type"text/javascript">
var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
  var markers = handler.addMarkers([
    { lat: 53.690621, lng: -1.7917317},
    { lat: 53.663500, lng: -1.9382192},
    { lat: 53.752416, lng: -1.8669682},
    { lat: 53.751681, lng: -1.9724536},
    { lat: 53.741127, lng: -1.9640518},
    { lat: 53.740456, lng: -1.9609989},
    { lat: 53.664929, lng: -1.9287542},
    { lat: 53.691086, lng: -1.7386677},
    { lat: 53.706293, lng: -1.9408577},
    { lat: 53.745541, lng: -1.9714913},
    { lat: 53.747703, lng: -1.9226739},
    { lat: 53.725203, lng: -2.0874622},
    { lat: 53.742873, lng: -1.9812524},
    { lat: 53.760796, lng: -1.9177224},
    { lat: 53.765768, lng: -1.9173171},
    { lat: 53.723635, lng: -1.8293266},
    { lat: 53.653735, lng: -1.9260590},
    { lat: 53.712756, lng: -1.8546840},
    { lat: 53.748891, lng: -2.0215834},
    { lat: 53.639092, lng: -1.9952421},
    { lat: 53.660732, lng: -1.9343115},
    { lat: 53.739747, lng: -1.9617621},
    { lat: 53.674494, lng: -1.9399387},
    { lat: 53.653298, lng: -2.0348804},
    { lat: 53.723689, lng: -1.8673811},
    { lat: 53.742035, lng: -2.0133538},
    { lat: 53.725941, lng: -1.8447191},
    { lat: 53.772670, lng: -2.0223798},
    { lat: 53.741857, lng: -2.1309118},
    { lat: 53.768720, lng: -2.0870701},
    { lat: 53.749944, lng: -2.0179562},
    { lat: 53.659074, lng: -2.0233632}
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
</div>

