<div class="albert">
    <div class="col-xs-6">
    <h3>Monuments grouped by Distance from Halfiax</h3>
    <%= bar_chart @monuments.group(:milesfromhalifax).count %>
  </div>
  
  
  
  
    <h3>Distance from Halifax in Miles</h1>
        <div class="graphy">
        <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~leeche/5.embed"></iframe>
    </div>
    
    </div>