<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<style>
    p{
        color:#FFF;
    }

    #input,
    #summoner_content{
        float:left;
        margin:15px;
        margin-top:150px;
        width:250px;
        padding:20px;
        border:solid 2px #FFF;
        background:#34495e;
    }
    #input button{
        width 50px;
        border: none;
        color:black;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        background-color:#FFF;
    }
    h2{
        text-align:center;
        color:#FFF;
        background:#2c3e50;
        width:100%;
        padding:10px;
    }
</style>

<script>
$(document).ready(function()
{
    //Hide the summoner content when the page loads
    $("#summoner_content").hide();
    
    //Gets the values from input and sends them to the API function
    window.Search =function()
    {
        var region_value = document.getElementById("region_value").value;
        var summoner_value = document.getElementById("summoner_value").value;
        Summoner_API(region_value,summoner_value);
    }


    function Summoner_API(region_value,summoner_value)
    {
        //Creates the URL using the parameters
        var api_key = "c31e6ae1-33c4-40c8-902c-a6fa809e20c3";
        var api_url = "https://"+region_value+".api.pvp.net/api/lol/"+region_value+"/v1.4/summoner/by-name/"+summoner_value +"?api_key="+api_key;

        //Selects the DIV where we are going to place the content
        var node = document.getElementById("summoner_content");

        $.get( api_url, function(data) {
          //Creating variables and selecting the values form inside the JSON 
            name = data[summoner_value.toLowerCase()]['name'];
            level = data[summoner_value.toLowerCase()]['summonerLevel'];
            pic_id= data[summoner_value.toLowerCase()]['profileIconId'];

            //Adds the content
            node.innerHTML="<h2>Summoner Info</h2><p>Summoner Name: "+name+"</p><p>Summoner Level:"+level+"</p>";
            //Show the summonet conttent after we place content, added fancy transition
            $("#summoner_content").show("slow");
            
            
        })//If it fails (I.e. if the GET request fails such as wrong info provided)
        .fail(function() {
            node.innerHTML="<p>Wrong Input, if you belive there is a problem with the search, please contact admin.</p>";
        });

    }
});
</script>

    <div id="input">
        <h2>Summoner Search</h2>
        <p>Chose Summoner Name and Region</p>
        <input id="summoner_value" type="text" name="Sumomoner" value="" placeholder="Sumomoner Name"><br>
        <p>Region</p>
              <select id="region_value">
                <option value="br">br</option>
                <option value="eune">eune</option>
                <option value="euw">euw</option>
                <option value="kr">kr</option>
                <option value="lan">lan</option>
                <option value="las">las</option>
                <option value="na">na</option>
                <option value="oce">oce</option>
                <option value="ru">ru</option>
                <option value="tr">tr</option>
            </select>
        <button onclick="Search()">Search</button>
    </div>


<div id="summoner_content">
  
</div>


<li><a href="https://www.igdb.com/reviews">Latest reviews</a></li>
