<div class="col-3 col-s-12">
  <div class="bside">
  <div class="sideimg">
    
    
  <div class="bside">
 <div id="data">
  <h1>Results:</h1>
  <p>Description: <%= @description %> <br>
  Address: <%= @address %><br>
  Distance from Halifax in miles: <%= @distance %></p>
</div>
  
</div>
</div>
</div>
</div>