@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;

}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  height: auto;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

body {
      background-image: url("http://davidspeightphotography.co.uk/wp-content/gallery/slideshow/littondale.jpg");
    background-repeat: no-repeat;
    background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}


textarea {
  resize: vertical;
}

.center {
  text-align: left;
  background-color: #0b0c0c;
  padding: 0px;
  
  h1 {
    margin-bottom: 10px;
    
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  font:Impact;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-align: center;
  color: $gray-light;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: 3em;
  font:Impact;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: $gray-light;
}


/* header */





/* footer */


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid ;
  background-color: #0b0c0c;
  float: left;
  position: relative;
  width: 100%;

 
  
  a {
  
    &:hover {
      color: $gray-light;
    }
  }
  small {
    float: left;
 
  }
  ul {
    float: right;
    list-style: none;
    font: Impact;
  }
    
    li {
      float: left;
      margin-left: 15px;
      font: Impact;
    }
  }
  
  
.container
{
  padding: 0px ;
 
}


.btn 
{
	border-top:		2px solid #a3ceda;
	border-left:		2px solid #a3ceda;
	border-right:		2px solid #4f6267;
	border-bottom:		2px solid #4f6267;
	padding:		10px 20px !important;
	font-size:		14px !important;
	background-color:	#c4f1fe;
	
	font-weight:		bold;
	color:			#2d525d;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 0px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;

}

.gravatar_edit {
  margin-top: 15px;
}

.stats {

  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-light;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;

  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
 
  margin-bottom: 15px;
  @include box_sizing;

}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 0px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  height: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

* {
    box-sizing: border-box;
}



.row:after {
    content: "";
    clear: both;
    display: block;
}

.row {
  position: relative;
  top: 30px;
}


@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


.menu ul {
    list-style-type: none;
    margin: 5;
    padding: 5;

    
}
.menu li {
    padding: 5px;
    margin-bottom: 10px;
    background-color :#61585f;
    color: #61585f;
    text-align: center;
    font: Impact;

}
.menui li:hover {
    background-color: #363f43;
    
}
.bside {
   
    padding: 5px;
    color: #61585f;
    text-align: center;
    font-size: 8px;
    

}

.mappy {
  margin-top: 250px;
  margin-left: 550px;
  margin-right: 250px;
  text-align: center;
}

[class*="col-"] {
    margin-top: 250px;
    float: left;
    padding: 15px;
    width: 100%;
}

.woop {
  margin-top: 10px;
}

.albert {
    background-color: #99cfff;
    opacity: 0.8;
    margin-top: 350px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding: 100px;
}

.loginandsignupform {
	margin-bottom: 100px;
	margin-left: 500px;
	margin-right: 500px;
	text-align: left;
    font-size: 20px;
    font-family: frutiger;
    font-size: medium;
}
.header {
    background-color: #99cfff;
    text-align: center;
    opacity: 0.6;
    font-family: frutiger;
}

.navbar-header {
    background-color: #99cfff;
    border-bottom-color: #99cfff;
    border-top-color: #99cfff;
    opacity: 0.6;
    text-align: center  

    
}

.navbar-fixed-top {
	background-color: #99cfff;
	text-align: center;
	height: auto;
	font-size: 10px;
    max-width: 100%;
	opacity: 0.6;
	
}

.navbar {	
  background-color: #99cfff;
  font-size: 20px;
}

@media (min-width: 768px) {
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    }
    
.navbar .navbar-collapse {
        text-align: center;
        font-family: frutiger;
        font-size: 20px;
    }
}
.navbar .navbar-collapse p {
    color: #99cfff;
    
}

.signupbutton {
  text-align: center;
}

table#monumentstable { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #336799; 
}
th { 
  background: #333; 
  color: #336799; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}