// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#data {
    box-sizing: border-box;
    padding: 30px;
    border: solid 2px grey;
}
