 <nav class="navbar navbar-fixed-top">
      <div class= "header">

         Calderdale's Ancient Monuments 

      </div>     

<!-- Navagation Bar -->
        <nav class="navbar navbar-default">
          <div class="headcontainer-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
              </button>
              
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
              
             
                   <li><%= link_to "Home", root_path, class: "btn btn-primary" %></li><br>
        <li><%= link_to "Monuments", monuments_path, class: "btn btn-primary" %></li><br>
        <li><%= link_to "Monuments Map", monumentsmap_path, class: "btn btn-primary", 'data-no-turbolink' => true  %></li><br>
        <li><%= link_to "Monuments Graph", monumentsgraph_path, class: "btn btn-primary", 'data-no-turbolink' => true  %></li><br>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path, class: "btn btn-primary" %></li>
          <li class="dropdown">
            <a href="#" class="btn btn-default dropdown-toggle", data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user, class: "btn btn-primary" %></li>
              <li><%= link_to "Settings", edit_user_path(current_user), class: "btn btn-primary" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Logout", logout_path, method: "delete", class: "btn btn-primary" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Login", login_path, class: "btn btn-primary" %></li>
          


          
          
        <% end %>
            
              </ul>
            </div>
          </div>
        </nav>
  </nav>






</header>